.header {
  height: 55px;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.75rem;
  // margin-bottom: 3rem;

  @media (min-width: $desktop) {
    border-bottom: 2px solid #e2e2e2;
    padding: 0;
  }

  // dan default ..... header akan menjadi parent for cart componen , jika udah ukuran dekstop maka parent nya bukan header lagi melainkan ( header - right )
  position: relative;
}

.header__left {
  align-items: center;
  justify-content: space-between;
  transform: translateY(-1px);

  .hamb-icon {
    width: 15px;
    margin-right: 1rem;
    transform: translateY(3px);
    cursor: pointer;
    @media (min-width: $desktop) {
      display: none;
    }
  }

  .header__title {
    transform: translateY(-2px);
    @media (min-width: $desktop) {
      font-size: $text-3xl;
    }
  }

  // nav dekstop ... kalo nav mobile ada di asside
  .header__nav {
    display: none;
    @media (min-width: $desktop) {
      display: block;
      margin-left: 3rem;
      ul {
        display: flex;
        li {
          position: relative;
          margin-right: 1rem;
          cursor: pointer;
          font-size: $text-base;
          // tooltip hover nav
          &:hover::before {
            position: absolute;
            content: '';
            height: 2px;
            background-color: $Orange;
            border-radius: 4px;
            right: 0;
            left: 0;
            bottom: -15px;
          }
        }
      }
    }
  }
}

.header__right {
  // position: relative;
  align-items: center;
  width: 75px;
  justify-content: space-around;

  .header__cart {
    position: relative;
    width: 20px;
    transform: translateY(2px);
    cursor: pointer;

    // notification count cart
    &::before {
      content: '25';
      display: flex;
      position: absolute;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 8px;
      padding: 2px 4px;
      border-radius: 8px;
      top: -8px;
      right: -10px;
      background-color: $Orange;
    }
  }

  .header__profile {
    width: 35px;
    height: 35px;
    border: 1px solid transparent;
    border-radius: 50%;
    padding: 2px;
    img {
      height: 100%;
      width: 100%;
      cursor: pointer;
    }
    &:hover {
      border: 1px solid $Orange;
    }
  }

  @media (min-width: $desktop) {
    width: 80px;
    justify-content: space-between;
    // jadi gini....  di ukuran dekstop header right akan menjadi parent untuk modal cart component nya..
    position: relative;
  }
}
